body{
    background-color: aqua;
}
h1{
    text-align: center;
    color: white;
}
div{
background-color: aqua;
padding: 10px 50px 20px 10px;
width: 50%;
}
input{
    padding: 10px 50px 20px 10px;
    width: 21rem;
}
.small{
    width: 8.3rem;
}   
.large{
    height: 8rem;
    text-align: top;
    height: 80px;
}
#idsubmit{
    background-color: yellow;
    color: black;  
    width: 8rem;
    margin-left: 270px;
}
.prag{
    width: 50%;
    text-align: left;
    color: white;
    /* float: right; */
    position: absolute;
    margin-left: 1000px;
}
